.decjuba_form {
  text-align: center;
}

.sign_up_form, .gender_perference_form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

button {
  width: 30%;
}
