.decjuba_form {
  text-align: center;
}

.sign_up, .perference {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.perference__form {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

button {
  width: 30%;
  margin: 0 auto;
}
